.menu-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    @include sp {
        flex-direction: column;
        margin-top: 50px;
    }
    .menu-item {
        width: 25%;
        height: 555px;
        @include sp {
            margin: 0 auto;
            width: 100%;
            height: 516px;
            &:nth-child(2),
            &:nth-child(3) {
                margin-top: 50px;
            }
        }
        &-title {
            margin-top: 37px;
            font-size: 30px;
            font-weight: solid;
            letter-spacing: 3px;
            text-align: center;
            @include sp {
                text-align: left;
                margin-left: 13px;
            }
        }
        &-desc {
            margin: 30px auto;
            width: 89%;
            letter-spacing: 1.6px;
        }
        &-fee {
            text-align: right;
            margin-top: 34px;
            @include sp {
                margin-top: 26px;
            }
        }
    }
}

.menu-img img {
    width: 270px;
    height: 270px;
    @include sp {
        width: 100%;
    }
}